@charset "UTF-8";
@font-face {
  font-family: "fanwood";
  src: url("Police/Fanwood-webfont.eot");
  src: url("Police/Fanwood-webfont.eot?#iefix") format("embedded-opentype"), url("Police/Fanwood-webfont.woff2") format("woff2"), url("Police/Fanwood-webfont.woff") format("woff"), url("Police/Fanwood-webfont.ttf") format("truetype"), url("Police/Fanwood-webfont.svg#fanwoodregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "ecza";
  src: url("Police/Eczar-Regular-webfont.eot");
  src: url("Police/Eczar-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("Police/Eczar-Regular-webfont.woff2") format("woff2"), url("Police/Eczar-Regular-webfont.woff") format("woff"), url("Police/Eczar-Regular-webfont.ttf") format("truetype"), url("Police/Eczar-Regular-webfont.svg#eczarregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@keyframes battementG {
  0% {
    transform-origin: right;
    transform: translateZ(0.01) rotateY(0deg);
  }
  5% {
    transform: rotateY(90deg);
  }
  10% {
    transform: rotateY(0deg);
  }
  15% {
    transform: rotateY(90deg);
  }
  20% {
    transform: rotateY(0deg);
  }
  30% {
    transform: rotateY(90deg);
  }
  41% {
    transform: rotateY(0deg);
  }
  52% {
    transform: rotateY(90deg);
  }
  63% {
    transform: rotateY(0deg);
  }
  70% {
    transform: rotateY(90deg);
  }
  77% {
    transform: rotateY(0deg);
  }
  84% {
    transform: rotateY(90deg);
  }
  90% {
    transform: rotateY(0deg);
  }
  96% {
    transform: rotateY(90deg);
  }
  100% {
    transform-origin: right;
    transform: scaleZ(0.01) rotateY(80deg);
  }
}
@keyframes battementD {
  0% {
    transform-origin: left;
    transform: scaleZ(0.01) rotateY(0deg);
  }
  5% {
    transform: rotateY(90deg);
  }
  10% {
    transform: rotateY(0deg);
  }
  15% {
    transform: rotateY(90deg);
  }
  20% {
    transform: rotateY(0deg);
  }
  30% {
    transform: rotateY(90deg);
  }
  41% {
    transform: rotateY(0deg);
  }
  52% {
    transform: rotateY(90deg);
  }
  63% {
    transform: rotateY(0deg);
  }
  70% {
    transform: rotateY(90deg);
  }
  77% {
    transform: rotateY(0deg);
  }
  84% {
    transform: rotateY(90deg);
  }
  90% {
    transform: rotateY(0deg);
  }
  96% {
    transform: rotateY(90deg);
  }
  100% {
    transform-origin: left;
    transform: scaleZ(0.01) rotateY(80deg);
  }
}
@keyframes vol {
  15% {
    transform: rotate3d(0, 0, 1, 90deg) translate(20vh);
  }
  20% {
    transform-origin: right;
    transform: rotate3d(0.5, 0.5, 0, 90deg) translate(10vw, 10vh);
  }
  45% {
    transform: translate(70vw, 20vh);
  }
  50% {
    transform: rotate3d(1, 1, 1, 200);
  }
  70% {
    transform: translate(15vw, 40vh) rotate3d(1, 1, 1, 380deg);
  }
  77% {
    transform: translate(20vw, 70vh);
  }
  85% {
    transform: rotate3d(1, 1, 1, 50deg);
  }
  100% {
    transform-origin: top;
    transform: scaleZ(0.01) translate(60vw, 80vh) rotate3d(1, 1, 1, 0deg);
  }
}
html {
  font-size: 62.5%;
  /*méthode pour que 1rem = 10px */
}
@media (min-width: 0px) and (max-width: 575px) {
  html {
    font-size: calc(62.5%* (575/1350));
    background-size: calc(100%*(575/1350)), auto;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  html {
    font-size: calc(62.5%* (768/1350));
    background-size: calc(100%*(768/1350)), auto;
  }
}
@media (min-width: 769px) and (max-width: 992px) {
  html {
    font-size: calc(62.5%* (992/1350));
    background-size: calc(100%*(992/1350)), auto;
  }
}
@media (min-width: 993px) and (max-width: 1200px) {
  html {
    font-size: calc(62.5%* (1200/1350));
    background-size: calc(100%*(1200/1350)), auto;
  }
}

body {
  /*mettre une image en arrière plan  */
  background-image: url("Pictures/Fond1.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: black;
  color: white;
  /*couleur police */
  margin: 0rem 0rem 0rem 0rem;
  font-family: "fanwood", "verdana", "georgia", "times new roman";
  font-size: 3rem;
  height: 85.3rem;
}

header {
  margin: 0rem 0rem 0rem 0rem;
  padding: 0.2rem 0rem 0.5rem 0rem;
  background-color: #77901b;
  font-size: 3.2rem;
  position: relative;
}
header .row {
  height: 9.6rem;
}
header .row--petit {
  height: 8rem;
  font-size: 8rem;
}
header div img {
  height: 8rem;
  width: auto;
  line-height: 8Rem;
}

.header__logo {
  position: absolute;
  bottom: -40%;
  left: 70%;
  width: 12rem;
  height: auto;
  /*adaptation de la taille de l'image avec proportions conservées */
}
.header__logo--gauche {
  height: 8rem;
  width: auto;
  /*adaptation de la taille de l'image avec proportions conservées */
}
.header__logo--bloc {
  display: flex;
  justify-content: center;
  align-items: center;
  animation: vol 10s infinite;
}
.header__logo--bloc .pap_aileG {
  animation: battementG 600ms infinite;
}
.header__logo--bloc .pap_aileD {
  animation: battementD 600ms infinite;
}
.header__logo--bloc .pap_corps {
  transform: scaleZ(0.3);
}
.header__valeur2 {
  padding-top: 3.2rem;
}
.header__valeur3 {
  padding-top: 6.4rem;
}
.header__valeursom {
  font-size: 9.6rem;
}
.header__valeur--pages {
  font-size: 8rem;
}

nav {
  min-height: 20rem;
  margin-top: 4rem;
}
nav a {
  color: white;
  text-decoration: none;
}
nav a:hover {
  color: white;
  text-decoration: none;
}

.nav__liste {
  list-style: none;
  font-family: "fanwood", "verdana", "georgia", "times new roman";
}
.nav__liste--transparent {
  background-color: rgba(15, 12, 2, 0.8);
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.nav__liste--transparent li {
  background-image: url("Pictures/puce.png");
  background-repeat: no-repeat;
  background-position: -5% 50%;
  position: relative;
  height: 8rem;
  line-height: 8rem;
  padding-left: 3.5rem;
  font-size: 2.9rem;
  z-index: 1;
}
@media (min-width: 0px) and (max-width: 575px) {
  .nav__liste--transparent li {
    background-size: calc(100%*(575/1350)), auto;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .nav__liste--transparent li {
    background-size: calc(100%*(768/1350)), auto;
  }
}
@media (min-width: 769px) and (max-width: 992px) {
  .nav__liste--transparent li {
    background-size: calc(100%*(992/1350)), auto;
  }
}
@media (min-width: 993px) and (max-width: 1200px) {
  .nav__liste--transparent li {
    background-size: calc(100%*(1200/1350)), auto;
  }
}
.nav__liste--transparent li:hover::after {
  opacity: 1;
}
.nav__liste--transparent li::after {
  content: "";
  width: 13.75vw;
  opacity: 0;
  height: 8rem;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: #967814;
  z-index: -1;
  background-image: url("Pictures/puce.png");
  background-repeat: no-repeat;
  background-position: -5% 50%;
}

.container {
  margin-right: -2rem;
  margin-left: -2rem;
}

.col-offset-1 {
  margin-left: 8.33%;
}
.col-offset-2 {
  margin-left: 16.66%;
}
.col-offset-3 {
  margin-left: 25%;
}
.col-offset-4 {
  margin-left: 33.33%;
}
.col-offset-5 {
  margin-left: 41.66%;
}
.col-offset-6 {
  margin-left: 50%;
}
.col-offset-7 {
  margin-left: 58.33%;
}
.col-offset-8 {
  margin-left: 66.66%;
}
.col-offset-9 {
  margin-left: 75%;
}
.col-offset-10 {
  margin-left: 83.33%;
}
.col-offset-11 {
  margin-left: 91.66%;
}

/*.header_papillon{
    display:flex;
    justify-content:center;
    align-items:center;
    perspective:50rem;
}
.btn{
    font-size:2rem;
    border:0.5rem green dashed;
    background-color:blue;
    &:active +.papillon{
        transform:translateY(-7rem);
        &>.aileG{
            transform:rotate3d(1, 1, 0, 90deg) translateZ(1vw);
        }
        &>.aileD{
            transform:rotate3d(1, 1, 0, 90deg) translateZ(1vw);
        }
    }
}
.aileG{
    transform-origin:12% 100%;
    transition:100ms ease-in-out;
}
.aileD{
    transform-origin:0% 0%;
    transition:100ms ease-in-out;
}
.papillon{
    transform-style:preserve-3d;
}
*/

/*# sourceMappingURL=KBG_style.css.map */
