$cols:(
    1:8.33%,
    2:16.66%,
    3:25%,
    4:33.33%,
    5:41.66%,
    6:50%,
    7:58.33%,
    8:66.66%,
    9:75%,
    10:83.33%,
    11:91.66%
);
$breakpoint:(
    mobile:(
        min:0px,
        max:575px,
        abs:575
    ),
    tablette:(
        min:576px,
        max:768px,
        abs:768
    ),
    portable:(
        min:769px,
        max:992px,
        abs:992
    ),
    ordi:(
        min:993px,
        max:1200px,
        abs:1200
    ),
    monordi:(
    min:1351px,
    max:1351px,
    abs:1351
    )
);
$animation:(
    0%:random(200),
    5%:random(300),
    10%:random(120),
)
