.container
{
	margin-right:-2rem;
	margin-left:-2rem;
}
.col-offset{
	&-1 
	{
		margin-left:8.33%;
	}
	&-2
	{
		margin-left:16.66%;
	}
	&-3 
	{
		margin-left:25%;
	}
	&-4 
	{
		margin-left:33.33%;
	}
	&-5
	{
		margin-left:41.66%;
	}
	&-6
	{
		margin-left:50%;
	}
	&-7
	{
		margin-left:58.33%;
	}
	&-8
	{
		margin-left:66.66%;
	}
	&-9
	{
		margin-left:75%;
	}
	&-10
	{
		margin-left:83.33%;
	}
	&-11
	{
		margin-left:91.66%;
	}
}