/*.header_papillon{
    display:flex;
    justify-content:center;
    align-items:center;
    perspective:50rem;
}
.btn{
    font-size:2rem;
    border:0.5rem green dashed;
    background-color:blue;
    &:active +.papillon{
        transform:translateY(-7rem);
        &>.aileG{
            transform:rotate3d(1, 1, 0, 90deg) translateZ(1vw);
        }
        &>.aileD{
            transform:rotate3d(1, 1, 0, 90deg) translateZ(1vw);
        }
    }
}
.aileG{
    transform-origin:12% 100%;
    transition:100ms ease-in-out;
}
.aileD{
    transform-origin:0% 0%;
    transition:100ms ease-in-out;
}
.papillon{
    transform-style:preserve-3d;
}
*/