/*.header_papillon{

*/
footer{
    perspective:800px;
    transform-style:preserve-3d;
}
.cube{
    position:relative;
    width:20rem;
    height:20rem;
    padding:0rem;
    transform-style:preserve-3d;
    margin-left:20px;
        div{
            width:20rem;
            height:20rem;
            position:absolute;
            opacity:0.8;
            padding:0rem;
        }
        .front{
            top:0;
            bottom:0;
            right:0;
            left:0;
            background-color:black;
        }
        .back{
            top:0;
            transform:translateZ(-20rem);
            background-color:blue;
        }
        .top{
            top:0;
            transform-origin:top;
            transform:rotateX(-90deg);
            background-color:grey;
        }
        .right{
            top:0;
            transform-origin:right;
            transform:rotateY(270deg);
            background-color:red;
        }
        .left{
            top:0;
            transform-origin:left;
            transform:rotateY(-270deg);
            background-color:red;
        }
        .bottom{
            top:0;
            transform-origin:bottom;
            transform:rotateX(-270deg);
            background-color:black;
        }
        &:active{
        transform:rotateX(360deg);
        transition:transform 600ms;
        }
    }