.no-gutter > [class*='col-'] { /*suppression des gouttières par défaut des colonnes*/
    padding-right:0;
    padding-left:0;
}
header
{
	padding: 0.2rem 0rem 0.5rem 0rem;
	background-color:$couleur_fond_2;
	font-size:3.2rem;
	height:9.6rem;
	p{
		height:3.2rem;
		@include marges_int; /*mixin avec padding à 0 par défaut*/
		@include marges; /*mixin avec margin à 0 par défaut*/
	}
	.row
	{
		&--petit
		{
			height:8rem;
			font-size:8rem;
		}
	}
	div img{
		height:8rem;
		width:auto; /*l'image s'adapte par rapport à son container*/
		line-height:8rem;
	}
}
.header 
{
	&__logo
	{
		width:12rem;
		height:auto; /*adaptation de la taille de l'image avec proportions conservées */
		&--gauche
		{
			height:5rem;
			width:auto; /*adaptation de la taille de l'image avec proportions conservées */
		}
		&--bloc{
		display:flex;
		justify-content:center;
		align-items:center;
		animation:vol 6s infinite;
			.pap{
				&_aileG{
					animation:battementG 800ms infinite; /*battements d'une durée de 6 secondes qui se répètent indéfiniment*/
				}
				&_aileD{
					animation:battementD 800ms infinite; /*battements d'une durée de 6 secondes qui se répètent indéfiniment*/
				}
				&_corps{
					animation-fill-mode:backwards; /*la posiion du papillon est celle de 0% dans le keyframe*/
				}
			}
		}
	}
	&__valeur1
	{
	}
	&__valeur2
	{
		@include marges($top:2.8rem); /*mixin avec margin à 0 sauf pour top*/
	}
	&__valeur3
	{
		@include marges($top:5rem); /*mixin avec margin à 0 sauf pour top*/
	}
	&__valeursom 
	{
		font-size:10.8rem;
		@include marges($top:-2.4rem); /*mixin avec margin à 0 sauf pour top*/
		text-align:right; /*le texte toujours aligné à droite, peu importe le nb de col occupées*/
	}
	&__valeur--pages
	{
		font-size:9.6rem;
		height:9.6rem;
		@include marges($top:-1.0rem);
	}
}
