nav
{
	min-height:20rem;
	margin-top:4rem;
	a
	{
		color:$couleur_police;
		text-decoration:none;
		&:hover
		{
			@include survol_lien;
		}

	}
}
.nav__liste
{
	list-style:none;
	@include police;
	&--transparent
	{
		background-color:transparentize($couleur_fond_1, 0.2);
		padding-top:4rem;
		padding-bottom:4rem;
		li
		{
			background-image:url('Pictures/puce.png');
			background-repeat:no-repeat;
			background-position:-5% 50%;
			position:relative;
			height:8rem;
			line-height:8rem;
			padding-left:3.5rem;
			font-size:2.9rem;
			z-index:1;
			@include puce;
			&:hover 
			{
				 &::after
				{
					opacity:1;
				}
			}
			&::after
			{
				content:"";
				width:13.75vw;
				opacity:0;
				height:8rem;
				position:absolute;
				top: 0;
				right:0;
				left:0;
				bottom:0;
				background:dégradé($couleur_fond_1);
				z-index:-1;
				background-image:url('Pictures/puce.png');
				background-repeat:no-repeat;
				background-position:-5% 50%;
			}
		}
	}
}