html {
	font-size:62.5%; /*méthode pour que 1rem = 10px */
	@include resize;
}
body
{
	color:$couleur_police; /*couleur police */
	margin:0rem 0rem 0rem 0rem;
	@include police;
	font-size:3rem;
	height:85.3rem;
	box-sizing:content-box;
}
